<div class="pokedex">
    <div class="pokedex__leds">
        <div class="pokedex__leds__led pokedex__leds__led--big"></div>
        <div class="pokedex__leds__led pokedex__leds__led--green"></div>
        <div class="pokedex__leds__led pokedex__leds__led--yellow"></div>
        <div class="pokedex__leds__cube"></div>
    </div>
    <app-pokedex-screen></app-pokedex-screen>
    <div class="buttons">
        <div class="buttons__select"></div>
        <div class="buttons__select"></div>
        <div class="buttons__grid">
            <div class="buttons__grid__btn"></div>
            <div class="buttons__grid__btn"></div>
            <div class="buttons__grid__btn"></div>
            <div class="buttons__grid__btn"></div>
            <div class="buttons__grid__btn"></div>
            <div class="buttons__grid__btn"></div>
            <div class="buttons__grid__btn"></div>
            <div class="buttons__grid__btn"></div>
            <div class="buttons__grid__btn"></div>
        </div>
    </div>
</div>