<div class="screen">
    <div class="pokemon">
        <img class="pokemon__img"src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" >
        <div class="pokemon__stats">
            <p class="pokemon__stats pokemon__stats--name">NAME : Bullbasaur</p>
            <p class="pokemon__stats pokemon__stats--type">TYPES : GRASS</p>
            <p class="pokemon__stats pokemon__stats--type">HEIGHT : 74</p>
            <p class="pokemon__stats pokemon__stats--type">WEIGHT : 8</p>
        </div>
    </div>
</div>